html {
	color: white;
	background-color: #111111;
	font-family: "JetBrains Mono", "Times", "Serif", "Arial";
}

body {
	padding: 50px;
}

header {
	text-transform: uppercase;
	font-family: "JetBrains Mono", "Times", "Serif", "Arial";
	padding: 15px;
}

header > li {
	list-style-type: none;
}

header ul {
	float: left;
	margin-left: 50px;
	margin-right: 100px;
	transition: .3s;
}

header ul:hover {
	text-shadow: 0px 0px 5px white,
				 0px 0px 5px white;
}

header .icon-tabler {
	transform: translate(200px, -7px);
	margin: 10px;
	transition: .3s;
}

.icon-tabler:hover {
	transition: .3s;
	filter: drop-shadow(0px 0px 5px rgb(255 0 0));
	color: red;
}

.follow {
	/* background-color: #cf3b00; */
	background-color: red;
	padding: 20px;
	padding-right: 50px;
	padding-left: 50px;
	border-radius: 30px;
	float: right;
	transform: translate(0px, -25px);
	transition: .3s;
}

.follow:hover {
	text-shadow: 0px 0px 5px white,
				 0px 0px 5px white;
	filter: drop-shadow(0px 0px 5px rgb(255 50 50))
			drop-shadow(0px 3px 9px rgb(255 50 50));
}

.bglines {
	background-color: grey;
}

main {
	text-align: center;
	color: white;
}

footer {
	font-family: "Helvetica", "Arial";
	font-size: 10px;
	position: fixed;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	background-color: black;
	padding: 25px;
}

